footer{
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.content{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    background-color: #eeeeee;
}