<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/header :: header(title='Dashboard - Home-Budget')">

</head>
<body>

<div th:replace="fragments/header :: nav"></div>

<div class="container content">

    <div class="starter-template">
        <div class="row">
            <div class="col-9">
                <h1 th:inline="text">Dashboard | User: [[${#httpServletRequest.remoteUser}]]</h1>
            </div>
            <div class="col-3">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign Out"/>
                </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-6">
                <h3>Summary:</h3>
                <hr>
                <h4>Your expenses: </h4>
                <p th:text="${#numbers.formatDecimal(sumOfCurrentUserTransactions/100.0, 1, 'COMMA', 2, 'POINT')}"></p>

            </div>
            <div class="col-6">
                <h3>Add transaction:</h3>
                <hr>

                <form th:action="@{/dashboard}" th:object="${transactionForm}" method="POST" action="#"
                      class="form-add-transaction">

                    <div class="row">

                        <!--Buyer-->
                        <div class="col-6">
                            <div class="form-group">
                                <h5>Select buyer:</h5>
                                <div th:each="userName : ${userNames}">
                                    <input type="radio" name="buyerRadio"
                                           th:field="*{buyer}"
                                           th:value="${userName}"
                                           required/>
                                    <label th:text="${userName}"></label>
                                </div>
                            </div>
                        </div>

                        <!--Target users-->
                        <div class="col-6">
                            <div class="form-group">
                                <h5>Select target users:</h5>
                                <div th:each="userName: ${userNames}">
                                    <input type="checkbox"
                                           th:value="${userName}"
                                           th:field="*{targetUsers}"/>
                                    <label th:text="${userName}"></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="transactionItem">Item:</label>
                        <input type="text"
                               th:field="*{name}" name="name" class="form-control"
                               id="transactionItem"
                               placeholder="Enter item"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="transactionAmount">Amount:</label>
                        <input type="number" th:field="*{amount}" name="amount" class="form-control"
                               id="transactionAmount" step=".01"
                               placeholder="For Example: 100,50"
                               required>
                    </div>

                    <button id="submitTransactionFormButton" class="btn btn-lg btn-primary btn-block" name="Submit" value="Add" type="Submit"
                            th:text="Add"></button>
                    <br/>

                    <div style="width: 100%;text-align: center;" th:utext="${message}"></div>

                </form>
            </div>

        </div>
    </div>
    <hr>
    <div class="row col-12">
        <h3>Your transactions:</h3>
        <br/><br/>
        <table id="currentUserTransactionsTable" class="table table-bordered table-dark">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Buyer</th>
                <th scope="col">Target Users</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${currentUserTransactions}">
                <td th:text="${t.getName()}"></td>
                <td th:text="${#numbers.formatDecimal(t.getAmount()/100.0, 1, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${t.getBuyer().getUsername()}"></td>
                <td>
                    <ul th:each="u : ${t.getTargetUsers()}">
                        <li th:text="${u.getUsername()}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="row col-12">
        <h3>All transactions:</h3>
        <br/><br/>
        <table id="allTransactionsTable" class="table table-bordered table-dark">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Buyer</th>
                <th scope="col">Target Users</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${allTransactions}">
                <td th:text="${t.getName()}"></td>
                <td th:text="${#numbers.formatDecimal(t.getAmount()/100.0, 1, 'COMMA', 2, 'POINT')}"></td>
                <td th:text="${t.getBuyer().getUsername()}"></td>
                <td>
                    <ul th:each="u : ${t.getTargetUsers()}">
                        <li th:text="${u.getUsername()}"></li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>