<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home-Budget</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container content">

    <div class="starter-template">
        <h1>Main page.</h1>
        <p>
            There are two users:<br/>
            <ol>
                <li>admin</li>
                <li>user</li>
            </ol>
            Password for both accounts is: 'password'.
        </p>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>