<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header(title='Login - Home-Budget')">

</head>
<body>

<div th:replace="fragments/header :: nav"></div>

<div class="container content">

    <h1>Sign in</h1> <br/>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form th:action="@{/login}" method="POST" class="form-signin">

                <input type="text" id="username" name="username" th:placeholder="Username"
                       class="form-control"/> <br/>

                <input type="password" th:placeholder="Password"
                       id="password" name="password" class="form-control"/> <br/>

                <div align="center" th:if="${param.error}">
                    <p style="font-size: 20; color: #FF1C19;">Username or Password invalid, please verify</p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit"
                        th:text="Login"></button>
                <br/>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <form th:action="@{/registration}" method="get">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Don't have an account? Sign up now!
                </button>
            </form>
            <br/>
        </div>
    </div>


</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


